/* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }

  /* ---Layout/Yield Styles --- */

  .pagebar a {
    float: none;
    color: hsl(0, 0%, 0%);
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 20px;
  }
  .pagebar a:hover {
    background-color: #57a094;
    color: #c9a84e;
  }

  div {
    padding: 16px;
  }

  .wrapper {
    font-size: 20px;
  }

  label, input {
    padding: 2px
  }