<!--This view a user should be able to edit their username, password-->
<!--This page should allow a user to also delete their account with a delete button-->
<h1>My Account</h1>

<form action="/delete_user" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete Account</button>
</form>