<h1>Cats from all the Crazy Cat Lovers</h1>

<% if @cats.empty?%>
  <p> There are no cats avaiable to view <p>
<% else %>
  <% @cats.each do |cat|%>
    <h2><a href= "/cats/<%=cat.id%>"><%= cat.name%></a></h2>
  <% end %>
<% end %>
<br>
<br>

<h3><a href="/cats/new">Add a Cat</a></h3>