<h1>Add a New Cat</h1>
<p><%= @error %></p>
<form action="/cats" method="post">
<label>Name of Cat:</label><br>
<input type="text" name="name"><br>
<br>
<label>Age:</label><br>
<input type="text" name="age"><br>
<br>
<label>Personality:</label><br>
<input type="text" name="personality"><br>
<br>

<label>Choose a Breed or create one if it doesn't exist</label>
<% @breeds.each do |breed|%>
<input type="checkbox" name="breed[name]" value= "<%= breed.id %>"><%= breed.name%>
<% end %>

<input type="submit" value="Create" />
</form>