<h1>Add a New Cat</h1>
<p><%= @error %></p>
<form action="/cats" method="post">
<label>Name of Cat:</label><br>
<input type="text" name="name"><br>
<br>
<label>Age:</label><br>
<input type="text" name="age"><br>
<br>
<label>Personality:</label><br>
<input type="text" name="personality"><br>
<br>

<input type="submit" value="Create" />
</form>