<h1>Welcome to Crazy Cat Lovers!</h1>
<p>Here you can show off your awesome cats and post a little bit of information about each cat you love.</p>
<p>Please use the navigation at the top of the page to use the website to Log in or Signup for an account.</p>
<p>See what other cute and awesome kitties exist in the world by joining today.</p><br>

