<h1>Welcome to Crazy Cat Lovers!</h1>
<p>This website was created by a crazy cat lover, who not only wanted to display his cats, but to also see everyone elses cats in one place. A cat domain!</p>
<p>Please use the navigation at the top of the page to use the website.</p>
<p>Here you can show off your kitties to the world!</p><br>

